<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metadados de Arquivo</title>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/1029/1029183.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="view">
      <h1>Projeto API: Microserviço de Metadados de Arquivo</h1>
      <p>Por favor, faça o upload de um arquivo.</p>

      <h3 id="output"></h3>
      <form
        id="fileForm"
        enctype="multipart/form-data"
        method="POST"
        action="/api/fileanalyse"
      >
        <label for="inputfield" class="custom-file-upload">
          Escolher Ficheiro:
        </label>
        <span id="file-chosen">Nenhum ficheiro selecionado</span>
        <input id="inputfield" type="file" name="upfile" style="display: none;" />
        <input id="button" type="submit" value="Fazer Upload" />
      </form>
    </div>

    <footer class="cute-footer">
      <p>
        Desenvolvido
        <a
          href="https://github.com/samanthasilva/FCC-file-metadata-microservice"
          target="_blank"
          class="heart-link"
          >❤</a
        >
        por Samantha Silva
      </p>
    </footer>

    <script>
      const inputField = document.getElementById('inputfield');
      const fileChosen = document.getElementById('file-chosen');

      inputField.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name;
      });
    </script>
  </body>
</html>
